#warning {
    display:none;
    color:orange
} 

#attention {
    display:none;
    color:red;
} 


                                                                                                                                